
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	background-color: #101010;
}

body {
	animation: fadeInAnimation ease 1s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}


.page {
	display: flex;
	width: auto;
	height: auto;
	justify-content: space-around;
	align-items: center;
	margin: 0 auto;
}


.playable-area{
	margin-top: 5%;
	margin-left: 10%;
	width: 100%; 
	height: 100%;
	display: flex;
	flex-direction: column;
}

#game{
	display: grid;
	grid-template-rows: repeat(40, 1fr);
	grid-template-columns: repeat(65, 1fr);

	margin-top: 5%;
	position: relative;
	margin-right: 25px;
	width: 105vmin;
	height: 70vmin;
	background-color: #202020;
	border-radius: 60px;
	z-index: 1;
}

.shakey {
	animation: shake 0.5s;
}

@keyframes shake {
	10%, 90% {
		transform: translate3d(-1px, 0, 0);
	}
	20%, 80% {
		transform: translate3d(2px, 0, 0);
	}
	30%, 50%, 70% {
		transform: translate3d(-4px, 2px, 0);
	}
	40%, 60% {
		transform: translate3d(4px, 0, 0);
	}
}

#help-text {
	display: none;
	color: #c6c6cc;
	font-size: 20px;
	text-decoration: none;
	font-family: "Lato", "Proxima-Nova", "Helvetica", "Arial", sans-serif;
	margin-top: 48%;
	margin-left: 24%;
	position: absolute
}

#help-text strong {
	color: #a34a28;
	font-size: 20px;
	text-decoration: none;
	font-family: "Lato", "Proxima-Nova", "Helvetica", "Arial", sans-serif;
	margin-left: 5px;
	margin-right: 5px;
}


.info-area {
	width: 50%;
	height: 100%;
	margin-right: 5%;
	margin-left: 1.5%;
	margin-top: 200px;

	display: flex;
	flex-direction: column;
}

.score-area {
	display: flex;
	flex-direction: row;
	height: 100px;
}

.score-area p {
	color: #c6c6cc;
	font-size: 20px;
	text-decoration: none;
	font-family: "Lato", "Proxima-Nova", "Helvetica", "Arial", sans-serif;
	margin-top: 55px;
	margin-right: 45%;
}

.score-area h1 {

	width: 100px;

	margin-left: 60px;
	margin-right: 10px;
	margin-bottom: 60px;
	color: #A34A28;		
	background: transparent;
	text-decoration: none;
	font-family: "Lato", "Proxima-Nova", "Helvetica", "Arial", sans-serif;
	font-weight: bold;
	font-size: 80px;
}

.highscore {
	display: flex;
	flex-direction: row;
	margin-bottom: 50px;
	margin-left: 75px;
}

.highscore h3 {
	text-decoration: none;
	font-family: "Lato", "Proxima-Nova", "Helvetica", "Arial", sans-serif;
	font-weight: lighter;
	font-size: 17px;
	color: #c6c6cc;
}

.highscore p {
	text-decoration: none;
	font-family: "Lato", "Proxima-Nova", "Helvetica", "Arial", sans-serif;
	font-weight: bold;
	font-size: 20px;
	color: #a34a28;
	margin-left: 10px;

}

.settings {
	height: 350px;
	width: 280px;

	background-color: #303030;
	border-radius: 50px;

	display: flex;
	flex-direction: column;
}

/* SETTINGS MENU*/



/* SPEED MENU*/
.settings-div {
	margin-top: 10px;
	margin-left: 20px;
	width: 240px;
	background: transparent;
	display:flex;
	flex-direction: row;
}

.init {
	margin-top: 30px;
}


.food-text,
.auto-speed-text,
.expand-text,
.speed-text {
	background-color: #303030;
	width: 100px;
	color: #c6c6cc;
	font-size: 17px;
	text-decoration: none;
	font-family: "Lato", "Proxima-Nova", "Helvetica", "Arial", sans-serif;
	font-weight: lighter;
	margin-left: 10px;
	margin-top: 20px;
}

#expand-value,
#speed-value {
	background-color: #303030;
	color: #a34a28;
	font-size: 20px;
	text-decoration: none;
	font-family: "Lato", "Proxima-Nova", "Helvetica", "Arial", sans-serif;
	font-weight: bold;
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 20px;
}

#expand-value {
	margin-left: 18px;
	margin-right: 15px;
}

.settings-button {
	color: #c6c6cc;
	height: 30px;
	width: 30px;
	margin-top: 20px;
	margin-left: 10px;
	background-color: #202020;
	border-width: 0px;
	border-radius: 20px;
	outline: none;
}

.settings-button:hover {
	background-color: #151515;
}

.rage-warning {
	background-color: #303030;
	color: #a34a28;
	font-family: "HelveticaNeue-Light", "Helvetica", "Arial", sans-serif;
	font-weight: bold;
	font-size: 10px;
	margin-left: 31px;
	margin-top: 6px;
}



h5 {
	margin-left: 150px;
	margin-bottom: 15px;
	color: #7f7f83;		/* #888888 */
	text-decoration: none;
	font-family: "HelveticaNeue-Light", "Helvetica", "Arial", sans-serif;
	font-weight: bold;
	font-size: 17px;

}


.buttons{
	display: flex;
}

.snake {
	width: 13px;
	height: 13px;
	background-color: #A34A28;
	border-radius: 10px;

}

.food {
	width: 13px;
	height: 13px;
	border-radius: 10px;
	background-color: #c6c6cc;
}

.buttons-info {
	display: flex;
}

a {
	color: #c6c6cc;		/* #888888 */
	text-decoration: none;
	font-family: "HelveticaNeue-Light", "Helvetica", "Arial", sans-serif;
	font-weight: bold;

}

.button {
	box-sizing: border-box;
	background-color: #A34A28;
	padding: 10px 30px;
	border-radius: 50px;
	margin-left: 13%;
}

.button:hover {
	background-color: #823b20;
}


input[type=checkbox] {
	height: 0px;
	width: 0px;
	visibility: hidden;
}

label {
	margin-left: 40px;
	margin-top: 30px;
	cursor: pointer;
	text-indent: -9999px;
	width: 50px;
	height: 24px;
	background: #202020;
	display: block;
	border-radius: 100px;
	position: relative;
}

label:after {
	content: '';
	position: absolute;
	top: 2px;
	left: 2px;
	width: 20px;
	height: 20px;
	background: #404040;
	border-radius: 15px;
	transition: 0.3s;
}

input:checked + label:after {
	left: calc(100% -5px);
	transform: translateX(130%);
	background-color: #a34a28;
}

label:active:after {
	width: 20px;
}

@media only screen and (max-width: 1500px){
	.game {
		width: 100vmin;
		height: 100vmin;
	}
}

@media only screen and (max-width: 1000px){
	.page {
		flex-direction: column;
		width: auto;
	}

	.playable-area {
		width: 60%;
		margin: 0 auto;
		margin-top: 10%;
		margin-left: 10%;
	}

	.info-area {
		width: 60%;
		margin: 0 auto;
		margin-top: 10%;
	}

	#game {
		margin-left: 0;
		height: 70vmin;
		width: 70vmin;
	}

	.button-one {
		margin-left: 30px;
	}

	.buttons-info {
		margin-top: 70px;
	}
}
